<!-- <p>master-page works!</p> -->

<!-- <po-page-default p-title="Painel de Produção">

    <div style="display: flex; flex-wrap: wrap; gap: 16px;">
  
      <po-input
        name="centroTrabalho"
        p-label="Centro de Trabalho"
        [(ngModel)]="centroTrabalho"
        style="flex: 1 1 30%;">
      </po-input>
  
      <po-datepicker
        name="dataInicio"
        p-label="Período De"
        [(ngModel)]="dataInicio"
        style="flex: 1 1 30%;">
      </po-datepicker>
  
      <po-datepicker
        name="dataFim"
        p-label="Período Até"
        [(ngModel)]="dataFim"
        style="flex: 1 1 30%;">
      </po-datepicker>
  
    </div>
  
    <div style="margin-top: 24px;">
        <po-button p-label="Buscar Dados" (p-click)="buscarDados()"></po-button>

    </div>
  
  </po-page-default> -->

  <po-page-default p-title="Painel de Produção">

    <div style="display: flex; flex-wrap: wrap; gap: 16px;">
  
      <po-input
        name="centroTrabalho"
        p-label="Centro de Trabalho"
        [(ngModel)]="centroTrabalho"
        style="flex: 1 1 30%;">
      </po-input>
  
      <po-datepicker
        name="dataInicio"
        p-label="Período De"
        [(ngModel)]="dataInicio"
        style="flex: 1 1 30%;">
      </po-datepicker>
  
      <po-datepicker
        name="dataFim"
        p-label="Período Até"
        [(ngModel)]="dataFim"
        style="flex: 1 1 30%;">
      </po-datepicker>
  
    </div>
  
    <div style="margin-top: 24px;">
      <po-button p-label="Buscar Dados" (p-click)="buscarDados()"></po-button>
    </div>
  
  </po-page-default>
  

  <!-- <po-row>
    <po-col p-sm="12" p-md="4">
      <po-input
        label="Centro de Trabalho"
        [(ngModel)]="centroTrabalho">
      </po-input>
    </po-col>
  
    <po-col p-sm="12" p-md="4">
      <po-datepicker
        label="Data Início"
        [(ngModel)]="dataInicio"
        format="yyyy-MM-dd">
      </po-datepicker>
    </po-col>
  
    <po-col p-sm="12" p-md="4">
      <po-datepicker
        label="Data Fim"
        [(ngModel)]="dataFim"
        format="yyyy-MM-dd">
      </po-datepicker>
    </po-col>
  </po-row>
  
  <po-row>
    <po-col p-sm="12">
      <po-button p-label="Buscar" (p-click)="buscarDados()"></po-button>
    </po-col>
  </po-row>
   -->